<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for genre in genres %}
    <div class="genre-card">
    <h1>
        <p>{{ genre.genre_name }}</p></h1>
    {% for magazine in genre.magazines.all %}
        <h3><p>{{ magazine.title }}</p></h3>
    {% endfor %}
      
    {% endfor %}

    </form>
  </main>
</body>

</html>