<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div>

      <div class="magazine-card">
        <h1><p>{{ magazine.title }}</h1>
        {% for issue in magazine.issues.all %}
          <p>Issue: {{ issue.issue_title }}</p>
        {% endfor %}
        <p>Release Cycle: {{ magazine.release }}</p>
        <p>Description: {{ magazine.description }}</p>
        {% for genre in magazine.genres.all %}
          <p>Genre: {{ genre.genre_name }}</p>
          {% endfor %}
        <img src="{{ magazine.cover }}" alt="magazine cover">    
        <p><a href="{% url 'delete_mag' magazine.pk %}"> Delete this magazine?</a></p>

        

          
    </div>
   
    
    </form>
  </main>
</body>

</html>