<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div>
        <h1> Delete this magazine?</h1>
        <form method="POST" enctype="multipart/form-data">

            <div class="main">
                <form method ="POST">
                    {% csrf_token %}
                    Are you sure you want to delete this item?
                    <input type="submit" value="Yes" />
                    
                </form>
      

       
        </form>
    </div>
    </div>
   
    
    </form>
  </main>
</body>

</html>