<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <h1> Magazines </h1>
    {% for magazine in magazines %}
      <div class="magazine-card">
      
        <p><a href={% url 'show_mag_details' magazine.pk %}>{{ magazine.title }}</p></a>
        <p>{{ magazine.release }}</p>
        <p>{{ magazine.description }}</p>
        <img src="{{ magazine.cover }}" alt="magazine cover">
        <a href="{% url 'edit_mag' magazine.pk %}">
            <button type = "button">edit</button> 
        </a>
        <a href="{% url 'delete_mag' magazine.pk %}">
            <button type = "button">delete</button>

    
        
        </a>
      </div>
    {% endfor %}
    
    </main>
</body>

</html>