<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <link rel="stylesheet" href="{% static 'books.css' %}"> {% endcomment %}
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %}
      <div class="book-card">
        <a href="{% url 'show_book_details' book.pk %}"><p>{{ book.title }} by {{ book.authors.first }}</p></a>
        <p>{{ book.authors.first }}</p>
        <p>{{ book.pages }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.description }}</p> 
        <img src="{{ book.image }}" alt="book cover">       
        <a href="{% url 'edit_book' book.pk %}">
            <button type = "button">edit</button>
        </a>
        <a href="{% url 'delete_book' book.pk %}">
            <button type = "button">delete</button>
        </a>
      </div>
    {% endfor %}
    
    </main>
</body>

</html>